html,
body {
  height: 100%;
  min-width: 300px;
  --primary: lightgrey;
  --secondary: grey;
}

body {
  background-color: #1e1e1e;
  color: var(--light);
}

a {
  color: var(--primary);
  text-decoration: none;
}
a:focus, a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.alert.alert-primary {
  background-color: var(--primary);
}
.alert.alert-secondary {
  background-color: var(--secondary);
}
.alert.alert-dark {
  background-color: #404040;
  border: none;
}
.alert.alert-danger {
  color: #fde2e5;
  background-color: #5c141b;
  border: none;
}

.modal-content {
  background-color: #343434;
}

hr {
  border-color: #666;
}

i[class*=fa-],
i[class*=twa-] {
  margin-right: 6px;
}

code {
  color: var(--primary);
  font-style: oblique;
  background-color: #292929;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
}

.btn-custom-primary {
  background-color: var(--primary);
  border: none;
  color: white;
}
.btn-custom-primary:hover {
  background-color: var(--secondary);
}

.btn-darkblue {
  background-color: #004793;
  border-color: #004186;
  color: white;
}
.btn-darkblue:hover {
  color: #fff;
  background-color: #003773;
  border-color: #003773;
}

.btn-info {
  background-color: #18769b;
  border-color: #177397;
}
.btn-info:hover {
  background-color: #166e91;
  border-color: #166e91;
}

.btn-dark {
  background-color: #292929;
  border-color: #292929;
}
.btn-dark:hover {
  background-color: #222;
  border-color: #222;
}

.alert-warning {
  color: #fbebbc;
  background-color: #b99015;
  border-color: #b38b15;
}

.alert-dark {
  color: #e6e6e6;
  background-color: #5e5e5e;
  border-color: #555;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.4666666667);
  border-radius: 10px;
}

.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--light);
  background: none;
}

footer {
  height: 7rem;
  padding: 1rem;
}

header {
  transition: background-color 200ms linear;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header.scrolled {
  background-color: #2d2d2d;
}

.screenshots {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.screenshots > [class^=beer] {
  flex-basis: 100%;
}

@media (min-width: 830px) {
  .screenshots > [class^=beer] {
    flex-basis: calc(50% - 0.25em);
  }
}
.beer-reveal[data-beer-label]::after,
.beer-slider[data-beer-label]::after {
  background: hsla(0, 0%, 9.4%, 0.75);
}

.beer-handle {
  background: hsla(0, 0%, 12.5%, 0.66);
  color: #ccc;
}

.beer-range:focus ~ .beer-handle {
  background: hsla(0, 0%, 20.8%, 0.85);
}

select.custom-select, .custom-file-label, input.form-control, input.form-control:focus, input.form-control::placeholder {
  background-color: var(--secondary);
  border: none;
  color: white;
}

.custom-file-label::after {
  background-color: var(--primary);
  color: white;
  height: 100%;
  content: "Parcourir";
}

/******
 Navbar
 ******/
.masthead-brand {
  float: left;
}

.nav-masthead {
  float: right;
}

.nav-link.active {
  color: #ddd;
}

/**********
 Components
 **********/
.introduction {
  position: relative;
  justify-content: center;
  color: var(--white);
  min-height: calc(100vh - 14rem);
  transition: min-height 1s;
}

.introduction .presentation-icon {
  transition: width 1s;
}

.introduction.small {
  min-height: 100px;
  height: 100px;
}

.introduction.small .presentation-icon {
  width: 50px;
}

.introduction #buttons {
  display: flex;
  gap: 5px;
}

.introduction #buttons > .btn {
  flex: 1 1 0;
  max-width: 100%;
}

@media (max-width: calc(400px + 2em)) {
  .introduction > .text-center {
    padding: 0 1em;
  }
  .introduction #buttons {
    flex-direction: column;
  }
}
.fullscreen-image {
  /* Size and position */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.fullscreen-image:not(.carousel),
.fullscreen-image .img {
  /* Darkens the image */
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullscreen-image .img,
.fullscreen-image .carousel-inner,
.fullscreen-image .carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  text-align: left;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  line-height: 1.1;
}

.carousel-caption > b {
  display: block;
  margin-bottom: 0.2em;
}

.beerWithCaption {
  display: inline-block;
  position: relative;
}

.beerWithCaption .carousel-caption {
  padding-bottom: 0.8em;
}

.presentation-icon {
  width: 250px;
  border-radius: 5%;
}

.description {
  color: #eaeaea;
  font-size: 1.15em;
  font-weight: lighter;
  text-align: justify;
  text-align-last: center;
  padding: 0 calc(30% - 300px);
  margin-bottom: 2em;
}

#installation > h3 {
  margin-bottom: 0.75em;
}

#installation > article {
  margin: 0 auto;
  max-width: 650px;
}

.introduction {
  white-space: nowrap;
  overflow-y: hidden;
}

.introduction .sites {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
@media (max-width: 1200px) {
  .introduction .sites .site .presentation-icon {
    width: 125px;
  }
  .introduction .sites .site h2 {
    font-size: 1.75em;
  }
}
@media (max-width: 800px) {
  .introduction .sites {
    flex-direction: column;
  }
}
.introduction .sites .site > h2 {
  transition: font-size 1s;
}

.introduction.small .sites .site > h2 {
  font-size: 1rem;
}

.site {
  transition: transform 0.5s;
}
.site:focus {
  box-shadow: none;
}
.site:hover, .site.clicked {
  transform: scale(1.1);
}
.site:hover img, .site.clicked img {
  transform: translate(0, -10%);
}
.site img {
  transition: transform 0.5s;
}
@media (max-width: 800px) {
  .site span {
    display: none;
  }
}

body {
  background-image: linear-gradient(to top, rgba(30, 30, 30, 0.968627451), rgba(30, 30, 30, 0.968627451)), url("/assets/img/background.jpg");
  background-repeat: repeat;
  background-size: contain;
}
body.details .masthead {
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template: 3rem/50px 1fr 50px;
  background-color: var(--primary);
  box-shadow: 0 0 10px var(--primary);
  border-radius: 0 0 1rem 1rem;
}
body.details .masthead .masthead-brand {
  height: 3rem;
}
body.details .masthead .sites {
  font-size: 0;
}
body.details .masthead .sites .site {
  padding: 0.375rem 0.85rem 0.375rem 0.75rem;
  background: var(--secondary);
}
@media (max-width: 800px) {
  body.details .masthead .sites .site {
    padding: 0.375rem 0.5rem;
  }
}
body.details .masthead .sites .site:not(:last-child) {
  margin-right: 0.5rem;
}
body.details .masthead .sites .site.clicked {
  transform: none;
  filter: brightness(85%);
}
body.details .masthead .sites .site img {
  width: 35px;
}
body.details .masthead .sites .site span {
  vertical-align: middle;
}
body .site-details {
  background-color: #343434;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}
body .site-details.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
